 :root {
 --color-primary: #3B82F6;       /* رنگ اصلی برند (دکمه‌ها، لینک‌ها) */
  --color-on-primary: #FFFFFF;    /* رنگ متن روی رنگ اصلی */

  /* رنگ‌های مکمل و اکسانت */
  --color-secondary: #4338CA;     /* رنگ مکمل برای hover یا جزئیات */
  --color-accent: #06B6D4;        /* رنگ درخشان برای افکت‌ها */

  /* رنگ‌های پس‌زمینه و سطوح */
  --color-background: #0B0E11;    /* پس‌زمینه کلی سایت */
  --color-surface: #111418;       /* سطح کارت‌ها یا فرم‌ها */

  /* رنگ‌های متن و خطوط */
  --color-text: #E5E7EB;          /* رنگ متن اصلی */
  --color-text-muted: #9CA3AF;    /* متن کم‌رنگ‌تر */
  --color-border: rgba(59,130,246,0.15); /* رنگ مرزها و جداکننده‌ها */
  --color-purple-fade: rgba(109, 40, 217, 0.25);
 }