/* ۱. لایه زیربنا (Variables) */
@import url("Component/colors.css");
@import url("Component/TextField.css");
@import url("Component/switch.css");
@import url("Component/fonts.css");
@import url("Component/shape.css");
@import url("Component/card.css"); /* اول شکل‌ها تعریف شوند */

/* ۲. لایه تایپوگرافی */
@import url("Component/Typography.css");
@import url("Component/Typography_map.css");

/* ۳. لایه کامپوننت‌های پایه */
@import url("Component/buttons.css");
@import url("Component/icon-button.css");
@import url("Component/badge.css");

/* ۴. لایه کامپوننت‌های پیچیده */
@import url("Component/CheckBox_RadioButton.css"); /* طبق تکلیف ۲ */
@import url("Component/table.css");
@import url("Component/navbar.css");
/* ========== Navbar (Global Component) ========== */

/* هرچیزی داخل navbar */

.brand img {
    height: 53px;
    width: 53px;
    object-fit: contain;
}
/* همیشه فضای نوار اسکرول را نگه دار تا محتوا جابه‌جا نشود */
html {
    /* همیشه فضای نوار اسکرول را نگه دار تا محتوا جابه‌جا نشود */
    scrollbar-gutter: stable;
}
/* تنظیمات کلی بدنه سایت */
body {
    background-color: var(--color-background); /* استفاده از متغیر رنگی که در colors.css داری */
    color: var(--color-text); /* استفاده از متغیر رنگ متن */
    margin: 0;
    padding: 0;
    font-family: var(--font-family-main); /* یا هر متغیری که در fonts.css داری */
    line-height: 1.6;
    direction: rtl; /* چون سایت فارسی است */
    max-width: 100%;

}
